body {
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.1);
  font-family: "Titillium Web", sans-serif;
}

/* --- container --- */

.container {
  padding: 20px;
  width: 380px;
  margin: 0 auto;
}

/* --- header --- */

.header {
  width: 380px;
  height: 200px;
  background-image: url("../img/dasha2.jpg");
  background-size: 100% 140%;
  background-repeat: no-repeat;
  border-radius: 15px 15px 0 0;
  position: relative;
}

.clear {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.clear i {
  font-size: 30px;
  color: #000;
}

.clear i:hover {
  cursor: pointer;
  text-shadow: 1px 2px 3px #000;
  transform: rotate(45deg);
}

#date {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #000;
  font-size: 25px;
  overflow: auto;
}

/* --- content --- */

.content {
  width: 380px;
  height: 350px;
  max-height: 350px;
  background-color: #fff;
  overflow: auto;
}

.content::-webkit-scrollbar {
  display: none;
}

.content ul {
  padding: 0;
  margin: 0;
}

.item {
    
}
